<main>  

  
    <div id="picker" class="picker">   
      <div class="cell">
        <img src="../../assets/Diagonal Square.jpg" alt="">
        <div class="cell-content">Mobile Internet
        </div>
      </div> 
      <div class="cell">
        <img src="../../assets/Diagonal Square.jpg" alt="">
        <div class="cell-content">Home Internet
        </div>
      </div> 
      
      <div class="cell">
        <img src="../../assets/Diagonal Square.jpg" alt="">
        <div class="cell-content">Get a device</div>
      </div>  
      <div class="cell">
        <img src="../../assets/Diagonal Square.jpg" alt="">
        <div class="cell-content">Add a phone-line</div>
      </div>  
      <div class="cell">
        <img src="../../assets/Diagonal Square.jpg" alt="">
        <div class="cell-content">Upgrade</div>
      </div>
    </div>  
</main>
    <a class="left carousel-control-prev" href="" data-slide="prev" (click)="prevElement()">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control-next" href="" data-slide="next" (click)="nextElement()">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
    
  